<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Card</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="card mt-5" style="width: 18rem;">
        <div class="card-body">
            <% if (user) { %>
                <h5 class="card-title">
                    <%= user.name %>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <%= user.email %>
                </h6>
                <p class="card-text">
                    <%= user.phone %>
                </p>
                <a href="/" class="card-link">All Users</a>
                <% } else { %>
                    <p>No user data available.</p>
                    <% } %>
        </div>
    </div>
</body>

</html>